/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.searchy-input-wraper{
	position: relative;
}

.searchy-input-wraper .spinner,
.searchy-input-wraper .conf,
.searchy-input-wraper .remove{
    position: absolute;
}

.searchy-input-wraper .remove,
.searchy-input-wraper .conf{
	cursor: pointer;
	opacity: 0.5;
	-moz-transition: opacity .6s cubic-bezier(0.05, -0.02, 0, 1.01);
	-o-transition: opacity .6s cubic-bezier(0.05, -0.02, 0, 1.01);
	-webkit-transition: opacity .6s cubic-bezier(0.05, -0.02, 0, 1.01);
	transition: opacity .6s cubic-bezier(0.05, -0.02, 0, 1.01);
}
.searchy-input-wraper .remove:hover,
.searchy-input-wraper .conf:hover{
	opacity: 1;
}


.searchy .searchy-input{
    border-color:grey;
}

.searchy .params {
    position: absolute;
    background: aliceblue;
    width: 100%;
    padding: 20px;
    border-color: grey;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-style: solid;
}

.searchy .params li{
  list-style-type: none;
}

.searchy .params .title{
  text-decoration: underline;
}

.searchy .params>div {
	border: 2px rgba(128, 128, 128, 0.2) dashed;
    padding: 10px;
    margin: 5px;
}

.searchy .result{
	margin-left: 20px;
}

.searchy .result li{
	padding-bottom: 10px;
}